backend:
  name: git-gateway
  branch: master
  base_url: https://canneed02.github.io

media_folder: "images"
public_folder: "/images"

slug:
  encoding: "unicode"
  clean_accents: true

collections:
  - name: "posts"
    label: "Bài viết"
    folder: "_posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Tiêu đề", name: "title", widget: "string"}
      - {label: "Ngày", name: "date", widget: "datetime"}
      - {label: "Mô tả", name: "description", widget: "text"}
      - {label: "Nội dung", name: "body", widget: "markdown"}
